* {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(-180deg, #252b7f 0%, #263cc6 99%);
}

.clearfix {
  clear: both;
}

.white-bg {
  background-color: white;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.m-10 {
  margin: 10px !important;
}

.mx-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.mx-20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.mx-30 {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.mx-15 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.px-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-10 {
  padding: 10px !important;
}

.input-field {
  position: relative;
  line-height: 36px;
  overflow: hidden;
  font-size: 18px;
  border-radius: 4px;
}

.input-field input::placeholder {
  color: #b1b1b1;
}

.input-field .tip {
  position: absolute;
  right: 12px;
  top: 8px;
}

.input-field input,
.input-field label {
  display: block;
  float: left;
  height: 36px;
}

.input-field label {
  width: 30%;
}

.input-field input,
.input-field textarea {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
}

.form-input {
  background: #f5f8fa;
  border-radius: 1px;
  border: none;
}

.text-right {
  text-align: right;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}

.white-bg {
  background-color: white;
}

.input-group {
  background: white;
  border-radius: 4px;
}

.grey-text {
  color: #888888;
}

.devider {
  background: #e6e6ea;
  height: 1px;
  transform: scaleY(0.5);
}

.bold {
  font-weight: bold;
}

.text-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

/* wing css grid  */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.row > :first-child {
  margin-left: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* end wing css grid  */
/* end utils */

/* start index page  */
.xws-btn {
  height: 44px;
  width: 152px;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
  border-radius: 4px;
  cursor: pointer;
}

.green-btn {
  background-color: #07bd59;
}

.black-btn {
  background: #353535;
}

.green-text {
  color: #07bd59;
}

.red-text {
  color: #e84546;
}

.red-btn {
  background-color: #eb2112;
}

.green {
  background: linear-gradient(#07bd59, #07bd85);
}

.amount-box {
  text-align: center;
}

.amount {
  font-size: 50px;
  color: #353535;
}

.yuan {
  font-size: 20px;
  vertical-align: top;
  position: relative;
  top: 8px;
}

.max-285 {
  max-width: 285px;
  margin: auto;
}

/* project  specific styling  */

.list-item-inner {
  padding: 15px 0;
}

.list__item {
  height: 60px;
  border-bottom: 1px solid #f8f8f8;
  overflow: hidden;
  margin: 0 8px;
  line-height: 60px;
}

.list__item .main-text {
  line-height: 60px;
}

.list__heading {
  font-size: 14px;
  padding: 10px 0;
}

.list__item .list__item_title {
  font-size: 15px;
}

.list__item .item-subtext,
.list__item .tem-footer-text {
  font-size: 13px;
  line-height: 21px;
}

.list__item .item-footer-text {
  font-size: 13px;
}

.list__item .item-side-info {
  font-size: 14px;
}

.write-with-title {
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  text-align: center;
  font-size: 14px;
  color: #ffc3a5;
  background-color: #c93a3b;
}

.action-modal-inner .action-message {
  text-align: center;
  padding: 25px 10px;
  color: #888888;
}

.action-modal-inner .action-buttons {
  border-top: 1px solid #f2f2f2;
}

.action-modal-inner {
  background-color: white;
}

.action-modal-inner .col {
  text-align: center;
  padding: 10px 5px;
}

.action-modal-inner .action-buttons .col + .col {
  border-left: 1px solid #f2f2f2;
}

.modal .modal-container {
  min-height: 80px;
  padding: 0;
}

.modal .modal-body {
  font-size: 16px;
}

.modal-container .modal-body {
  max-height: 95vh;
}

.confirm-action-modal .modal-container .modal-body {
  padding: 0;
  border-radius: 8px;
}

.modal.qr-code-modal .modal-container,
.modal.qr-code-modal .modal-overlay {
  background-color: #222222;
}

.modal.qr-code-modal .btn-clear {
  color: #eeeeee80;
}

.modal.modal-xs .modal-container {
  max-width: 295px;
  border-radius: 6px;
}

.required {
  position: relative;
}

.required::after {
  content: "*";
  right: -10px;
  top: -5px;
  position: absolute;
  color: red;
}

.modal.active .modal-overlay,
.modal:target .modal-overlay {
  background: rgba(0, 0, 0, 0.75);
}

.modal-container .modal-header {
  padding: 7px;
}
